<h1>About Us</h1>
				
<div class='title_divider'><hr /></div>

<div id='aboutus' style='padding: 5px;'>
	<p>At Kinetic Health our Doctors are dedicated to running a patient centered practice. That means doctors who know your name, not just
	a chart number.  That care about your progress and won't waste your time and money.  You won't endure long waits only to be rushed out by
	the doctor in minutes</p>
	
	<p>We allot enough time to properly evaluate and treat during each visit.  This way our patients are generally seen within 10 minutes
	of their appointment time and spend, on average, 30 minutes one-on-one with the doctor.  They will provide you with quality healthcare
	in a relaxed, caring environment.</p>
	
	<p>Dr. John Campione and Dr. Kristina Campione are both graduates of National University of Health Sciences in Lombard, IL.  Find our more
	about our doctors below.</p>
	
	<p>
		<h2>DR. JOHN CAMPIONE</h2>
		
		<p><img src='images/dr_john_campione.jpg' align='left' halign='5' valign='5' /> Dr. Campione is a graduate of the National University
		of Health Sciences receiving his Doctor of Chiropractic degree in April 2010 and received a Bachelor of Science degree in Exercsie
		Physiology from West Virginia University School of Medicine.  He specializes in physical rehabilitation using a blend of chiropractic 
		manipulative therapy, soft tissue manipulation and corrective exercises to treat ailments of the human neuromusculoskeletel system.
		<br />
		He holds post-graduate certifications in acupuncture, strength and conditioning with the National Strength and Conditioning 
		Association, corrective exercise with the National Academy of Sports Medicine, Functional Movement Systems, Active Release 
		Technique and kettlebell training with the World Kettlebell Club.
		<br />
		Dr. Campione is a former Division 1 baseball player and still plays baseball over the summer seasons.  He has seven years of 
		experience as a personal trainer and strength coach and teach Anatomy and Physiology at College of Dupage. He is a frequent
		contributor to the <a href='http://worldkettlebellclub.com/misalignment-in-kettlebell-lifting/' target='_blank'>World Kettlebell Club</a>.
		</p>
	</p>
	
	<p>
		<h2>DR. KRISTINA CAMPIONE</h2>
		
		<p><img src='images/dr_kristina_campione.jpg' align='left' halign='5' valign='5' /> Dr. Campione is a graduate of National University of Health
		Sciences obtaining her degree in Chiropractic Medicine in December of 2010.  She also went on to become a Certified Kinesio Taping Practitioner 
		and an Active Release Practitioner of the Spine and Lower Extremities.
		<br />
		She grew up in Naperville, IL and was heavily involved in athletics as a level 10 club and high school gymnast.  While attending the University of 
		Illinois at Chicago, to earn a Bachelors degree in Biological Sciences, she joined the track team and became a Division 1 Pole Vaulter, where she 
		held the school record until after her graduation.  The history of sports helped drive her fascination with human biomechanics.
		<br />
		Dr. Campione continues to research and study the human body, in addition to teaching Anatomy & Physiology at College of Dupage.  She also enjoys
		coaching gymnastics and finding new venues of athletic competition.  She just completed her first Chicago Marathon in October.
		</p>
		
		<div class='title_divider'><hr /></div>
		
		<p>*The Doctors met in 2007 while attending National University of Health Sciences when they were working in the Anatomy Lab, a fitting location
		to meet their spouse given their interests.  They wed in December of 2012 and reside in Warrenville, IL with their dog, Audry.</p>
</div>
