<h1>Welcome to Kinetic Health</h1>
				
<div class='title_divider'><hr /></div>
<p>We're glad you've found us! We are proud to service the Warrenville and surrounding 
Western Dupage area with ethical, evidenced base chiropractic care.</p>
<p>We offer a variety of treatment options, but use only those backed with the strongest
evidence of efficacy.  Our goal is to eliminate pain quickly and effectively, and rehabilitate
the cause in order to prevent future re-injury. If we don't think you're problem can be 
solved with our services, we'll tell you and refer you to someone who can help.</p>
<p>If you are a candidate for care, your individualized treatment plan will progress on a 
regular basis, since you should be feel better and be able to do more each time you return for 
treatment.  In this office, you won't do the same therapy for months on end because that means
your condition hasn't improved! At Kinetic Health, our focus is active care, which to us means 
two things:  you will MOVE as part of your treatment and you will actively participate in your
care plan.  We are all different, and even two people with the same condition will have different
needs.  So, your care plan should be customized, that's why all of your therapy is done with on
one WITH THE DOCTOR!</p>
<p>We are committed to patient education and believe that you should be an informed participant in
your health. It is your body after all.  You'll be taught to take your health into your own
hands and never be sold a pre-paid long term care plan...EVER! In fact, generally the more you 
engage in your care, the faster you get better.  We want to rehabilitate and release our 
patients from care as quickly as possible.  Yes, you read that correctly.</p>
<p>We look forward to meeting you, and helping you achieve your healthcare goals.</p>
<p style='text-align: right;'>-Drs. John and Kristina Campione</p>
<hr />
<table width="100%;" id='associatesTable'>
	<tr style='width: 100%;'>
		<td><img src='/test/kinetic_chiro/images/cscs_logo.png' /></td>
		<td><img src='/test/kinetic_chiro/images/fms_cert.png' width='177px' height='60px'/></td>
		<td><img src='/test/kinetic_chiro/images/il_chiro.png' width='177px' height='62px'/></td>
	</tr>
	<tr style='width: 100%;'>
		<td><img src='/test/kinetic_chiro/images/standard_process.png' width='177px' height='78px'/></td>
		<td><img src='/test/kinetic_chiro/images/rock_tape.png' width='177px' height='62px'/></td>
		<td><img src='/test/kinetic_chiro/images/nasm.png' align='center'/></td>
	</tr>
</table>

<table width="100%;" id='associatesTableMobile'>
	<tr>
		<td><img src='/test/kinetic_chiro/images/cscs_logo.png' /></td>
	</tr>
	<tr>
		<td><img src='/test/kinetic_chiro/images/fms_cert.png' /></td>
	</tr>
	<tr>
		<td><img src='/test/kinetic_chiro/images/il_chiro.png' /></td>
	</tr>
	<tr>
		<td><img src='/test/kinetic_chiro/images/standard_process.png' /></td>
	</tr>
	<tr>
		<td><img src='/test/kinetic_chiro/images/rock_tape.png'/></td>
	</tr>
	<tr>
		<td><img src='/test/kinetic_chiro/images/nasm.png' /></td>
	</tr>
</table>