<h1>Insurance</h1>
				
<div class='title_divider'><hr /></div>

<div id='insurance_container' style='padding: 5px;'>
	
	We are in network with:
	
	<ul>
		<li>Blue Cross Blue Shield</li>
		<li>Aetna/American Specialty Health</li>
		<li>Cigna Healthcare</li>
		<li>United Healthcare</li>
		<li>Humana, Choice Care, Healthways Whole Health Network</li>
		<li>Multiplan, PCHS, Health EZ</li>
		<li>Other Illinois Health Plans - Call 630-393-0800 To see if we are in your network</li>
	</ul>
	
	<div style='font-weight: bold; font-size: .9em;'>
	*Kinetic Health is a non-participating provider with medicare.<br /> 
	*A 20% discount is offered to cash patients who pay their bill in full on the date of serice
	</div>
	
	<p>
	 As a courtesy to our patients Kinetic Health Chiropractic Center will verify patient's insurance 
	 coverage for services rendered by a chiropractor.  Please be aware this is an estimate of benefits 
	 and ultimately it is the patient's responsibility to know their own coverage details. Benefits vary 
	 between insurance companies, but also for each individual policy depending on the deductible, co-pay 
	 and coverage you or your employer has chosen.  The Doctors strive to be in network with as many insurance 
	 providers as possible, but also to make chiropractic care affordable to those who are uninsured, a 20% 
	 discount is offered to our cash patients when they pay their bill in full on the date of service.  
	 It is always a good idea for you as the patient to call the member number on the back of your card 
	 so that your insurance carrier can inform you of your benefits for chiropractic outpatient care. 
	 Verification is NOT a guarantee of benefits and the patient is ultimately responsible for any deductibles, 
	 co-pays, co-insurance, etc. not covered by the insurance provider. 
</div>