<h1>New Patients</h1>
				
<div class='title_divider'><hr /></div>

<div id='newpatients_container' style='padding: 5px;'>
	
	<p>The Drs. Campione use a treatment philosophy that recognizes that dysfunctional human movement
	as the basis for most of the mechanical pain treated in the United States today.  The Doctors 
	specialize in the treatment of musculoskeletal disorders and how these disorders affect human 
	movement.  The use of whole-body approach includes improving joint mobility, tissue functionality,
	as well as correcting dysfunctional movement patterns.</p>
	
	<p>The following are some tips for New Patients:</p>
	
	<p>
		<h3>First Visit:</h3>
		<p>Please arrive 10-15 minutes before your scheduled appointment to fill out our new patient 
		paperwork, or if you'd like you use this link to fill out our paperwork ahead of time. Please fill
		out all paperwork to the best of your ability.  Then, you will meet with the doctor who will
		take a detailed history of your condition.  An examination will be performed which may include 
		vitals, orthopedic and neurological exam, functional exam and, only if indicated, X-Rays or other
		imaging/tests. Once all of the findings are compiled the doctor will discuss their findings with you.
		At this time they will discuss your diagnosis, treatment options and treatment plan. Please ask any and all 
		questions during this time. Once a plan has been agreed upon by both doctor and patient, care will begin.</p>
		
		<h3>Return Visits:</h3>
		<p>Subsequent visits are often 15-30 minutes long depending on the patient's condition and the treatment
		plan that has been laid out.  Please come dressed in, or with a change of, comfortable clothes as you will
		be moving about ( shorts, T-Shirts, etc).  A re-evaluation of your condition will be performed periodically.
		Re-evaluations are performed to track the progress of your care.  This helps monitor pain levels, functional
		capacity and other indicators of improvement.</p>
		
		<p> To make your appointment call (630)393-0800. </p>
		
		<table width='100%' align='center'>
			<tr>
				<td><a href='http://nebula.wsimg.com/0d3038e73f122f8dbe90eb71264539c9?AccessKeyId=20E7C0877D91AD574C76&disposition=0&alloworigin=1' target='_blank'>Nutrition Patient Intake Paperwork</a></td>
				<td><a href='http://nebula.wsimg.com/d3900f7c031f85ee4ba852d9340d5168?AccessKeyId=20E7C0877D91AD574C76&disposition=0&alloworigin=1' target='_blank'>New Patient Paperwork</a></td>
			</tr>
		</table>
	
</div>