<h1>Patient Resources</h1>
				
<div class='title_divider'><hr /></div>

<div id='patientservices_container'>
	<center>
		Click on the links/images below to purchase Rehab Equipment
		<br />
		<br />
		<div >
			<a id="" class="wsb-button button " target="_blank" href="https://rbt.infusionsoft.com/go/rsb/khealth/">
				<span class="button-content wsb-button-content" style="white-space:nowrap">
				1 Pair Red Bands
				<br>
				</span>
			</a>
		</div>
	<br />
	<div>
	 	<a id="wsb-button-152276106" class="wsb-button button " href="https://rbt.infusionsoft.com/go/mob/khealth/" target="_blank">
	 		<span class="button-content wsb-button-content" style="white-space:nowrap">
	 		1 Pair Orange Bands
	 		<br>
	 		</span>
	 	</a>
	 </div> 
	 <br />
	  <div>
	  	<a id="wsb-button-152287607" class="wsb-button button " href="https://rbt.infusionsoft.com/go/cap/khealth/" target="_blank">
	  		<span class="button-content wsb-button-content" style="white-space:nowrap">
	  		Kinetic Health Rehab Package
	  		<br>
	  		</span>
	  	</a>
	  </div> 
	</center>
</div>