<h1>Services & Techniques</h1>
				
<div class='title_divider'><hr /></div>

<div id='servicesandtech_container'>

<p style='width: auto;'>We offer a multitude of treatment options to help you reach your healthcare goals.
Our techniques are minimally invasive and are considered the most effective currently 
available by research. Depending on your case and which treatments you are a candidate for we will use 
a combination of these methods to optimize your recovery.</p>

<center>
<h3>Chiropractic Manipulative Therapy</h3>
<p style='text-align: left;'>The "adjustment" is a safe and effective way to introduce normal motion back into a joint. It is 
useful in the temporary relief of many types of musculoskeletal pain.  During a Chiropractic manipulation
the joint is placed in a safe position and moved within its natural range of motion. It can be used 
to treat the spine or extremities. On occasion a "cracking" noise can be heard. If you are a newcomer to 
manipulation we are happy to walk you through it in detail to make your experience as comfortable as possible.</p>


<h3>Kinesiology Taping</h3>
<p style='text-align: left;'>Kinesiology tape is a specialized athletic tape that has been developed to help aid the body's natural healing
process without inhibiting the body's ability to move.  KT is beneficial to the reduction of swelling/bruising,
scar correction, pain reduction, joint stabilization and many other uses</p>

<h3>Functional Examination/Rehabilitation</h3>
<p style='text-align: left;'>While injuries seem like an isolated entity, the reality is the body has to work as a whole to accomplish
mechanical tasks.  As a result, often times the site of the pain is not always the root of the problem.  In
many cases the injured structure had been doing the job of others around it that have stopped functioning
properly.  By taking a patient through a series of everyday movement patterns we can identify structures are not 
functioning properly.  A personalized set of exercises and/or stretches will then be created for each patient's
individual needs to not only aid in the recovery process but prevent future re-injury.</p>

<h3>Soft Tissue Mobilization</h3>
<p style='text-align: left;'>This would include techniques like instrument assisted soft tissue, deep tissue massage and pin and stretch
techniques depending on the needs and tolerance of each patient.  These techniques aid in breaking up 
adhesions/scar tissue as well as promote blood flow to the area which helps encourage natural metabolic process
like bringing nutrients to and carrying waste products aways from the site of treatment.  This helps optimize
the body's natural healing process.</p>

<h3>Acupuncture</h3>
<p style='text-align: left;'>Acupuncture originated in China about 10,000 years ago.  Small stainless steel needles are used to restore the 
proper flow of Qi (pronounced "chee"). Acupuncture points are places on the surface of the body where Qi and 
blood gather.  The needles are very small and as a result do not cause tissue damage.  Acupuncture is effective
in treating many different ailments from anxiety to sinus headaches to infertility.</p>

<h3>Dry Needling</h3>
<p style='text-align: left;'>Dry needling is the use of solid filiform needles to treat myofascial pain. Research has shown that placing a needle in the trigger
point can provide relief to the area without the injection of a medication or an analgesic.</p>

<h3>Nutrition Counseling</h3>
<p style='text-align: left;'>Whether you're looking to lose weight or just to incorporate a healthier lifestyle we are here to support you 
through the process.  We will teach you how to make better choices and build new habits for long term change
rather than encourage "diets" that often fail.  We also address gaps in nutrition with <b>quality</b> supplements.
Standard Process makes vitamins from whole foods, which leave in vital phytonutrients not found in isolates.  
Many of the ingredients come from their own organic farm.</p>
</center>
</div>
